{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Store Page</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="{% url 'main:logout' %}">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    

    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/2109.jpg');
            background-size: cover;
            color: white;
        }
        div {
            padding-left: 20px;
        }
    
        table {
            border-collapse: collapse;
            margin: 20px auto;
            width: 100%;
        }
        
        table tbody tr:last-child{
            background-color: rgb(76, 0, 0);
        }
    
        th {
            background-color: black; 
            color: white; 
            text-align: center;
            border: 1px solid #ddd; 
            padding: 8px; 
            font-size: 20px;
        }
    
        td {
            text-align: center;
            border: 1px solid #ddd; 
            padding: 8px; 
            font-size: 20px;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #474747
        }
        tr:nth-child(odd) {
            background-color: rgb(39, 39, 39);
        }
        
    
        button {
            width: 80px; 
            height: 30px; 
            text-align: center;
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        #button_navbar{
            margin-left: 10%;
            margin: 0;
        }
        #text_navbar{
            margin-right: 10%;
            margin: 0;
        }
        #button_besar {
            width: 200px;
            height: 30px; 
            text-align: center;
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        #align_center{
            text-align: center;
        }
        #small_text{
            font-size: 16px;
        }
    </style>
    <div>
        <br/>
        <h2 id="align_center">{{appname}}</h2>

        <h5>Name:</h5>
        <p>{{name}}</p>

        <h5>Class:</h5>
        <p>{{class}}</p>

        <h5>Different Games Owned:</h5>
        <p>{{product_count}}</p>

        <h5>Last Login:</h5>
        <p>{{last_login}}</p>

        <h2 id="align_center">Game List</h2>

        <table class="tg">
            <thead>
                <tr>
                <th class="tg-0lax">Name</th>
                <th class="tg-0lax">Image</th>
                <th class="tg-0lax">Release Date</th>
                <th class="tg-0lax">Price</th>
                <th class="tg-0lax">Reviews</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tg-0lax">Monster Hunter World</td>
                    <td class="tg-0lax"><img src="https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2018/06/Monster-Hunter-World.jpg" width="192" height="108"/></td>
                    <td class="tg-0lax">9 August, 2018</td>
                    <td class="tg-0lax">Rp 335.000,00</td>
                    <td class="tg-0lax">Very positive</td>
                    </tr>
                <tr>
                    <td class="tg-0lax">Armored Core VI Fires of Rubicon</td>
                    <td class="tg-0lax"><img src="https://static.bandainamcoent.eu/high/armored-core/armored-core-vi-fires-of-rubicon/00-page-setup/acvifor-header-mobile-new.jpg" width="192" height="108"/></td>
                    <td class="tg-0lax">25 August, 2023</td>
                    <td class="tg-0lax">Rp 600.000,00</td>
                    <td class="tg-0lax">Very positive</td>
                </tr>
                <tr>
                    <td class="tg-0lax">Dota 2</td>
                    <td class="tg-0lax"><img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota2_social.jpg" width="192" height="108"/></td>
                    <td class="tg-0lax">9 Juli, 2012</td>
                    <td class="tg-0lax">Free</td>
                    <td class="tg-0lax">Very positive</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <h2 id="align_center">Shopping Cart</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Edit/Delete</th>
                <th>Add/Sub</th>
            </tr>
        
            {% for product in products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.date_added}}</td>
                    <td>
                        <a href="{% url 'main:edit_product' product.pk %}">
                            <button id="small_text" style="background-color: transparent; border: 2px solid white; color: white;"> 
                                Edit
                            </button>
                        </a>
                        <a href="{% url 'main:delete_product' product.pk %}">
                            <button id="small_text" style="background-color: transparent; border: 2px solid white; color: white;">
                                Delete
                            </button>
                        </a>
                    </td>
                    <td>
                        {% if product.id %} 
                            <form method="post" action="{% url 'main:add_amount' product.id %}">
                                {% csrf_token %}
                                <button style="background-color: transparent; border: 2px solid white; color: white;" type="submit" id="small_text">Add</button>
                            </form>
                            <form method="post" action="{% url 'main:sub_amount' product.id %}">
                                {% csrf_token %}
                                <button style="background-color: transparent; border: 2px solid white; color: white;" type="submit" id="small_text">Sub</button>
                            </form>
                        {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
        </table>

        <br />
        
        <a href="{% url 'main:create_product' %}">
            <button id="button_besar" style="background-color: transparent; border: 2px solid white; color: white;">
                Add New Item
            </button>
        </a>
    </div>
{% endblock content %}